#about, #degrees, #minors, #employment-container {
  /*border: 3px solid black;*/
  margin-bottom: 20px;
}


#about {
}

#degrees div {
  margin-bottom: 20px;
}

#uGrad {
  background-color: lightgreen;
  margin: 0px auto;
}

h1, .center{
  text-align: center;
}

.uDegree {
  padding: 10px;
  width: 33.333%;
  float: left;
}

#minors {

}

.uMinor, .emp-stat-sec {
  float: left;
  width: 25%;

}

.uMinor p {
  display: none;
}
